In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
train_data = pd.read_excel('Data_Train.xlsx')
test_data = pd.read_excel('Data_Test.xlsx')
submission_data = pd.read_excel('Sample_Submission.xlsx')

In [3]:
train_data.Delivery_Time.value_counts()

30 minutes     7406
45 minutes     2665
65 minutes      923
120 minutes      62
20 minutes       20
80 minutes       14
10 minutes        4
Name: Delivery_Time, dtype: int64

In [4]:
set(test_data.Restaurant.unique())-set(train_data.Restaurant.unique())
#(11094, 9)

{'ID_8113',
 'ID_4184',
 'ID_2396',
 'ID_3704',
 'ID_4798',
 'ID_8290',
 'ID_3139',
 'ID_5056',
 'ID_3762',
 'ID_3936',
 'ID_4919',
 'ID_4547',
 'ID_854',
 'ID_4852',
 'ID_2082',
 'ID_2630',
 'ID_69',
 'ID_2827',
 'ID_2961',
 'ID_6834',
 'ID_7902',
 'ID_5977',
 'ID_1202',
 'ID_4661',
 'ID_6045',
 'ID_7327',
 'ID_3677',
 'ID_67',
 'ID_7477',
 'ID_1395',
 'ID_6303',
 'ID_235',
 'ID_4719',
 'ID_8388',
 'ID_6483',
 'ID_3972',
 'ID_2423',
 'ID_680',
 'ID_4288',
 'ID_2840',
 'ID_4374',
 'ID_1567',
 'ID_6961',
 'ID_7387',
 'ID_6963',
 'ID_3471',
 'ID_1880',
 'ID_51',
 'ID_458',
 'ID_8516',
 'ID_3016',
 'ID_7317',
 'ID_7565',
 'ID_331',
 'ID_6911',
 'ID_5826',
 'ID_123',
 'ID_5917',
 'ID_8501',
 'ID_396',
 'ID_879',
 'ID_4339',
 'ID_3172',
 'ID_3628',
 'ID_4178',
 'ID_4265',
 'ID_8377',
 'ID_851',
 'ID_7320',
 'ID_2381',
 'ID_446',
 'ID_5034',
 'ID_7685',
 'ID_1542',
 'ID_5606',
 'ID_3606',
 'ID_2574',
 'ID_5730',
 'ID_3944',
 'ID_3820',
 'ID_4613',
 'ID_4277',
 'ID_7983',
 'ID_2477',
 'ID_7108',
 'ID_5795',
 'ID_6070',
 'ID_115',
 'ID_5800',
 'ID_1534',
 'ID_4590',
 'ID_6807',
 'ID_3997',
 'ID_840',
 'ID_8390',
 'ID_6113',
 'ID_6308',
 'ID_2658',
 'ID_7164',
 'ID_3430',
 'ID_3856',
 'ID_7313',
 'ID_1875',
 'ID_7367',
 'ID_6970',
 'ID_430',
 'ID_8204',
 'ID_1132',
 'ID_2213',
 'ID_1075',
 'ID_1045',
 'ID_7600',
 'ID_7426',
 'ID_4739',
 'ID_320',
 'ID_6416',
 'ID_6798',
 'ID_5668',
 'ID_8376',
 'ID_5318',
 'ID_3187',
 'ID_2773',
 'ID_5623',
 'ID_6605',
 'ID_4932',
 'ID_257',
 'ID_730',
 'ID_525',
 'ID_3786',
 'ID_2631',
 'ID_7284',
 'ID_1851',
 'ID_6748',
 'ID_4991',
 'ID_7489',
 'ID_5333',
 'ID_3987',
 'ID_6850',
 'ID_4177',
 'ID_8169',
 'ID_5386',
 'ID_1320',
 'ID_8566',
 'ID_7545',
 'ID_8593',
 'ID_6773',
 'ID_1750',
 'ID_6351',
 'ID_448',
 'ID_7232',
 'ID_7848',
 'ID_4569',
 'ID_4894',
 'ID_7975',
 'ID_81',
 'ID_171',
 'ID_2129',
 'ID_7687',
 'ID_2343',
 'ID_7767',
 'ID_3816',
 'ID_799',
 'ID_6862',
 'ID_5829',
 'ID_7997',
 'ID_4057',
 'ID_1509',
 'ID_1572',
 'ID_2084',
 'ID_2374',
 'ID_260',
 'ID_2716',
 'ID_631',
 'ID_5599',
 'ID_8279',
 'ID_4524',
 'ID_6870',
 'ID_5365',
 'ID_3557',
 'ID_4832',
 'ID_423',
 'ID_2789',
 'ID_6164',
 'ID_5860',
 'ID_5555',
 'ID_3645',
 'ID_5202',
 'ID_2494',
 'ID_541',
 'ID_4851',
 'ID_3433',
 'ID_130',
 'ID_4657',
 'ID_1601',
 'ID_2690',
 'ID_154',
 'ID_4928',
 'ID_4472',
 'ID_1141',
 'ID_7165',
 'ID_7088',
 'ID_3581',
 'ID_7075',
 'ID_6687',
 'ID_4671',
 'ID_4946',
 'ID_5812',
 'ID_5907',
 'ID_7193',
 'ID_8464',
 'ID_2939',
 'ID_4865',
 'ID_5877',
 'ID_5182',
 'ID_7948',
 'ID_2691',
 'ID_4308',
 'ID_1147',
 'ID_2243',
 'ID_1498',
 'ID_1707',
 'ID_7982',
 'ID_7246',
 'ID_3041',
 'ID_3937',
 'ID_2720',
 'ID_2183',
 'ID_5748',
 'ID_21',
 'ID_452',
 'ID_2985',
 'ID_8640',
 'ID_5292',
 'ID_3014',
 'ID_6916',
 'ID_4261',
 'ID_6708',
 'ID_1722',
 'ID_2143',
 'ID_5162',
 'ID_611',
 'ID_6388',
 'ID_3510',
 'ID_4013',
 'ID_7875',
 'ID_5251',
 'ID_2368',
 'ID_157',
 'ID_88',
 'ID_380',
 'ID_8457',
 'ID_5030',
 'ID_5092',
 'ID_5933',
 'ID_2338',
 'ID_5548',
 'ID_5172',
 'ID_5904',
 'ID_5756',
 'ID_4557',
 'ID_1944',
 'ID_7682',
 'ID_8212',
 'ID_1500',
 'ID_2119',
 'ID_2715',
 'ID_2665',
 'ID_5268',
 'ID_5498',
 'ID_6299',
 'ID_3956',
 'ID_4564',
 'ID_338',
 'ID_7645',
 'ID_1442',
 'ID_5597',
 'ID_3212',
 'ID_4477',
 'ID_7806',
 'ID_2808',
 'ID_3850',
 'ID_8517',
 'ID_4977',
 'ID_1113',
 'ID_5918',
 'ID_8598',
 'ID_2969',
 'ID_6439',
 'ID_7631',
 'ID_6176',
 'ID_2024',
 'ID_1674',
 'ID_1866',
 'ID_2279',
 'ID_6935',
 'ID_4968',
 'ID_3662',
 'ID_7815',
 'ID_486',
 'ID_1474',
 'ID_2954',
 'ID_3815',
 'ID_5611',
 'ID_7282',
 'ID_6009',
 'ID_4896',
 'ID_7154',
 'ID_6829',
 'ID_5481',
 'ID_6250',
 'ID_1790',
 'ID_2411',
 'ID_3037',
 'ID_1715',
 'ID_772',
 'ID_4159',
 'ID_3546',
 'ID_1129',
 'ID_3732',
 'ID_6097',
 'ID_3423',
 'ID_6281',
 'ID_6225',
 'ID_5856',
 'ID_1386',
 'ID_7929',
 'ID_5148',
 'ID_220',
 'ID_5740',
 'ID_50',
 'ID_728',
 'ID_2876',
 'ID_846',
 'ID_8309',
 'ID_7409',
 'ID_2339',
 'ID_6680',
 'ID_1518',
 'ID_1111',
 'ID_4959',
 'ID_568',
 'ID_1512',
 'ID_2048',
 'ID_3945',
 'ID_7593',
 'ID_1161',
 'ID_6266',
 'ID_1351',
 'ID_6853',
 'ID_4375',
 'ID_6189',
 'ID_6326',
 'ID_1357',
 'ID_1536',
 'ID_209',
 'ID_1323',
 'ID_7611',
 'ID_5069',
 'ID_943',
 'ID_6960',
 'ID_8369',
 'ID_5283',
 'ID_6387',
 'ID_7073',
 'ID_1418',
 'ID_2099',
 'ID_113',
 'ID_6110',
 'ID_2998',
 'ID_3790',
 'ID_4760',
 'ID_3365',
 'ID_6811',
 'ID_2340',
 'ID_2319',
 'ID_283',
 'ID_8167',
 'ID_1117',
 'ID_6509',
 'ID_8076',
 'ID_5667',
 'ID_3971',
 'ID_3953',
 'ID_3594',
 'ID_3963',
 'ID_5437',
 'ID_7883',
 'ID_6032',
 'ID_2842',
 'ID_2441',
 'ID_3264',
 'ID_6902',
 'ID_673',
 'ID_8079',
 'ID_325',
 'ID_4008',
 'ID_6310',
 'ID_7734',
 'ID_6455',
 'ID_1941',
 'ID_6802',
 'ID_1097',
 'ID_1988',
 'ID_3873',
 'ID_7807',
 'ID_6039',
 'ID_1970',
 'ID_8321',
 'ID_2849',
 'ID_4903',
 'ID_5546',
 'ID_6270',
 'ID_5995',
 'ID_4890',
 'ID_1307',
 'ID_8289',
 'ID_4505',
 'ID_6867',
 'ID_2778',
 'ID_1591',
 'ID_4425',
 'ID_4538',
 'ID_6903',
 'ID_5422',
 'ID_7646',
 'ID_2013',
 'ID_5815',
 'ID_7926',
 'ID_2531',
 'ID_4747',
 'ID_3450',
 'ID_3688',
 'ID_75',
 'ID_2502',
 'ID_4191',
 'ID_1950',
 'ID_4616',
 'ID_5026',
 'ID_7105',
 'ID_4591',
 'ID_6837',
 'ID_1330',
 'ID_6238',
 'ID_5992',
 'ID_787',
 'ID_2113',
 'ID_2649',
 'ID_6944',
 'ID_4632',
 'ID_2672',
 'ID_3304',
 'ID_6257',
 'ID_4542',
 'ID_8631',
 'ID_7298',
 'ID_7729',
 'ID_7598',
 'ID_4707',
 'ID_8306',
 'ID_173',
 'ID_1280',
 'ID_8294',
 'ID_7700',
 'ID_5463',
 'ID_3500',
 'ID_6926',
 'ID_6367',
 'ID_784',
 'ID_4835',
 'ID_2098',
 'ID_3150',
 'ID_5082',
 'ID_6342',
 'ID_3523',
 'ID_7648',
 'ID_8160',
 'ID_1211',
 'ID_5658',
 'ID_3877',
 'ID_2874',
 'ID_7444',
 'ID_836',
 'ID_4789',
 'ID_2577',
 'ID_7507',
 'ID_4192',
 'ID_2309',
 'ID_6513',
 'ID_7420',
 'ID_8570',
 'ID_7264',
 'ID_1178',
 'ID_6333',
 'ID_4960',
 'ID_282',
 'ID_7430',
 'ID_3211',
 'ID_1387',
 'ID_4756',
 'ID_5714',
 'ID_1188',
 'ID_8373',
 'ID_3059',
 'ID_2428',
 'ID_4929',
 'ID_5378',
 'ID_3891',
 'ID_5651',
 'ID_5064',
 'ID_4656',
 'ID_6265',
 'ID_2767',
 'ID_3977',
 'ID_5331',
 'ID_2236',
 'ID_6821',
 'ID_4814',
 'ID_167',
 'ID_4255',
 'ID_3231',
 'ID_6749',
 'ID_7937',
 'ID_4405',
 'ID_7043',
 'ID_3559',
 'ID_1977',
 'ID_2641',
 'ID_5055',
 'ID_6114',
 'ID_8271',
 'ID_1437',
 'ID_2666',
 'ID_2918',
 'ID_6357',
 'ID_1712',
 'ID_2529',
 'ID_3177',
 'ID_5207',
 'ID_204',
 'ID_3927',
 'ID_8197',
 'ID_2945',
 'ID_8214',
 'ID_4273',
 'ID_8152',
 'ID_2242',
 'ID_2986',
 'ID_8301',
 'ID_4877',
 'ID_1689',
 'ID_4404',
 'ID_8352',
 'ID_867',
 'ID_3490',
 'ID_6809',
 'ID_2153',
 'ID_3032',
 'ID_6380',
 'ID_4938',
 'ID_223',
 'ID_469',
 'ID_7182',
 'ID_1259',
 'ID_3602',
 'ID_2444',
 'ID_6563',
 'ID_2538',
 'ID_225',
 'ID_2674',
 'ID_2869',
 'ID_3205',
 'ID_3361',
 'ID_6216',
 'ID_4113',
 'ID_563',
 'ID_5868',
 'ID_2689',
 'ID_279',
 'ID_5088',
 'ID_1412',
 'ID_4516',
 'ID_485',
 'ID_6139',
 'ID_8126',
 'ID_6671',
 'ID_6396',
 'ID_4934',
 'ID_6042',
 'ID_6684',
 'ID_127',
 'ID_1630',
 'ID_8378',
 'ID_3370',
 'ID_8179',
 'ID_4836',
 'ID_137',
 'ID_6501',
 'ID_4566',
 'ID_3315',
 'ID_5680',
 'ID_370',
 'ID_775',
 'ID_2455',
 'ID_7714',
 'ID_2091',
 'ID_3285',
 'ID_2736',
 'ID_5991',
 'ID_6442',
 'ID_2392',
 'ID_2415',
 'ID_5985',
 'ID_4056',
 'ID_3694',
 'ID_1515',
 'ID_6188',
 'ID_7584',
 'ID_7927',
 'ID_2252',
 'ID_615',
 'ID_4676',
 'ID_4748',
 'ID_7103',
 'ID_2375',
 'ID_3862',
 'ID_3580',
 'ID_6553',
 'ID_1187',
 'ID_106',
 'ID_7811',
 'ID_5250',
 'ID_8461',
 'ID_5649',
 'ID_214',
 'ID_977',
 'ID_3314',
 'ID_1573',
 'ID_5014',
 'ID_6068',
 'ID_16',
 'ID_5462',
 'ID_8635',
 'ID_1326',
 'ID_8612',
 'ID_6529',
 'ID_5051',
 'ID_2610',
 'ID_6279',
 'ID_4435',
 'ID_2935',
 'ID_6499',
 'ID_4053',
 'ID_6546',
 'ID_1748',
 'ID_771',
 'ID_5655',
 'ID_8554',
 'ID_1525',
 'ID_5562',
 'ID_1632',
 'ID_5834',
 'ID_8159',
 'ID_7998',
 'ID_5614',
 'ID_5116',
 'ID_7166',
 'ID_4304',
 'ID_1040',
 'ID_5343',
 'ID_3007',
 'ID_8617',
 'ID_5314',
 'ID_1649',
 'ID_1779',
 'ID_5669',
 'ID_5891',
 'ID_8594',
 'ID_2972',
 'ID_300',
 'ID_5385',
 'ID_5687',
 'ID_1087',
 'ID_2302',
 'ID_8016',
 'ID_2864',
 'ID_4175',
 'ID_1982',
 'ID_379',
 'ID_1634',
 'ID_763',
 'ID_967',
 'ID_2912',
 'ID_6267',
 'ID_3108',
 'ID_4988',
 'ID_1652',
 'ID_1066',
 'ID_1903',
 'ID_705',
 'ID_341',
 'ID_3334',
 'ID_6833',
 'ID_3916',
 'ID_1583',
 'ID_3318',
 'ID_116',
 'ID_2624',
 'ID_5443',
 'ID_1024',
 'ID_4084',
 'ID_5480',
 'ID_1747',
 'ID_7',
 'ID_238',
 'ID_7133',
 'ID_5273',
 'ID_737',
 'ID_5510',
 'ID_3978',
 'ID_3583',
 'ID_6583',
 'ID_2923',
 'ID_5449',
 'ID_6298',
 'ID_1002',
 'ID_1337',
 'ID_6302',
 'ID_4340',
 'ID_2737',
 'ID_2712',
 'ID_7886',
 'ID_6120',
 'ID_5972',
 'ID_8269',
 'ID_5559',
 'ID_3028',
 'ID_8490',
 'ID_2148',
 'ID_7274',
 'ID_2888',
 'ID_7434',
 'ID_7345',
 'ID_5219',
 'ID_7256',
 'ID_8015',
 'ID_3230',
 'ID_78',
 'ID_431',
 'ID_4069',
 'ID_4568',
 'ID_2305',
 'ID_7384',
 'ID_3679',
 'ID_2289',
 'ID_7991',
 'ID_4067',
 'ID_3294',
 'ID_7925',
 'ID_4733',
 'ID_4098',
 'ID_8535',
 'ID_1702',
 'ID_6297',
 'ID_4061',
 'ID_6338',
 'ID_7476',
 'ID_8562',
 'ID_6878',
 'ID_2724',
 'ID_3132',
 'ID_4982',
 'ID_2813',
 'ID_7379',
 'ID_3477',
 'ID_4779',
 'ID_5341',
 'ID_4123',
 'ID_6987',
 'ID_6507',
 'ID_8442',
 'ID_5041',
 'ID_404',
 'ID_8181',
 'ID_185',
 'ID_4891',
 'ID_2518',
 'ID_8110',
 'ID_7984',
 'ID_7567',
 'ID_7336',
 'ID_285',
 'ID_2562',
 'ID_7751',
 'ID_2359',
 'ID_5201',
 'ID_5586',
 'ID_438',
 'ID_394',
 'ID_5533',
 'ID_4804',
 'ID_1764',
 'ID_1410',
 'ID_321',
 'ID_451',
 'ID_3394',
 'ID_5864',
 'ID_5684',
 'ID_5910',
 'ID_8600',
 'ID_35',
 'ID_897',
 'ID_2873',
 'ID_6426',
 'ID_263',
 'ID_8267',
 'ID_2534',
 'ID_6498',
 'ID_1816',
 'ID_8241',
 'ID_4309',
 'ID_3686',
 'ID_2405',
 'ID_5842',
 'ID_5505',
 'ID_375',
 'ID_7338',
 'ID_7572',
 'ID_1999',
 'ID_3044',
 'ID_6953',
 'ID_4422',
 'ID_5298',
 'ID_8047',
 'ID_736',
 'ID_4346',
 'ID_6438',
 'ID_5186',
 'ID_7428',
 'ID_1151',
 'ID_8300',
 'ID_8393',
 'ID_5339',
 'ID_3010',
 'ID_3026',
 'ID_2735',
 'ID_3391',
 'ID_1768',
 'ID_7035',
 'ID_393',
 'ID_7168',
 'ID_4745',
 'ID_2758',
 'ID_6598',
 'ID_6786',
 'ID_756',
 'ID_5936',
 'ID_2294',
 'ID_2406',
 'ID_586',
 'ID_6259',
 'ID_3287',
 'ID_2267',
 'ID_4073',
 'ID_1176',
 'ID_253',
 'ID_4033',
 'ID_5075',
 'ID_488',
 'ID_2136',
 'ID_3017',
 'ID_3333',
 'ID_2208',
 'ID_6898',
 'ID_6453',
 'ID_1438',
 'ID_5349',
 'ID_2752',
 'ID_2066',
 'ID_3091',
 'ID_7025',
 'ID_4262',
 'ID_3244',
 'ID_3529',
 'ID_1983',
 'ID_7854',
 'ID_2436',
 'ID_7793',
 'ID_715',
 'ID_7881',
 'ID_6550',
 'ID_2064',
 'ID_2006',
 'ID_5782',
 'ID_8394',
 'ID_5677',
 'ID_3736',
 'ID_2451',
 'ID_3181',
 'ID_144',
 'ID_4695',
 'ID_2497',
 'ID_7040',
 'ID_1196',
 'ID_4122',
 'ID_264',
 'ID_302',
 'ID_7698',
 'ID_7799',
 'ID_2941',
 'ID_6456',
 'ID_2997',
 'ID_2017',
 'ID_8192',
 'ID_4166',
 'ID_6401',
 'ID_4336',
 'ID_7129',
 'ID_7498',
 'ID_1921',
 'ID_5470',
 'ID_4250',
 'ID_7999',
 'ID_2652',
 'ID_4480',
 'ID_1445',
 'ID_1491',
 'ID_1354',
 'ID_645',
 'ID_1629',
 'ID_4846',
 'ID_7102',
 'ID_3292',
 'ID_7708',
 'ID_4808',
 'ID_2195',
 'ID_2000',
 'ID_494',
 'ID_1691',
 'ID_7339',
 'ID_706',
 'ID_4473',
 'ID_2351',
 'ID_2364',
 'ID_230',
 'ID_3483',
 'ID_2496',
 'ID_4831',
 'ID_6686',
 'ID_8209',
 'ID_1229',
 'ID_1206',
 'ID_8396',
 'ID_10',
 'ID_6028',
 'ID_7086',
 'ID_503',
 'ID_4163',
 'ID_8223',
 'ID_7699',
 'ID_1597',
 'ID_834',
 'ID_3169',
 'ID_3975',
 'ID_2633',
 'ID_820',
 'ID_3321',
 'ID_5805',
 'ID_7241',
 'ID_5811',
 'ID_194',
 'ID_7279',
 'ID_2566',
 'ID_5266',
 'ID_3270',
 'ID_2055',
 'ID_6626',
 'ID_2894',
 'ID_8534',
 'ID_4144',
 'ID_3999',
 'ID_3286',
 'ID_3948',
 'ID_3476',
 'ID_6014',
 'ID_8231',
 'ID_5013',
 'ID_6918',
 'ID_7960',
 'ID_2786',
 'ID_3138',
 'ID_5427',
 'ID_311',
 'ID_2705',
 'ID_6215',
 'ID_6783',
 'ID_7553',
 'ID_7161',
 'ID_7684',
 'ID_2269',
 'ID_2696',
 ...}

In [5]:
train_data[train_data.Delivery_Time.isin(['80 minutes'])].head()

,Restaurant,Location,Cuisines,Average_Cost,Minimum_Order,Rating,Votes,Reviews,Delivery_Time
558,ID_1368,"Yerawada, Pune, Maharashtra",Bakery,₹200,₹50,4.2,242,94,80 minutes
2546,ID_6134,Mumbai Central,"Chinese, North Indian, Thai, Fast Food, Seafood",₹400,₹50,3.8,149,74,80 minutes
3451,ID_2837,"D-Block, Sector 63, Noida","Mithai, Chinese, South Indian",₹150,₹50,3.5,191,33,80 minutes
4542,ID_2057,Mumbai Central,"Desserts, Bakery",₹100,₹50,4.0,58,44,80 minutes
5279,ID_4741,"Dockyard Road, Mumbai CST Area","North Indian, Seafood, Fast Food, Continental,...",₹400,₹99,3.5,550,263,80 minutes

In [6]:
# 30 minutes     2119
# 45 minutes      635
# 120 minutes      10
# 65 minutes        9
# 80 minutes        1

train_data = train_data[train_data.Delivery_Time.isin(['30 minutes','45 minutes','120 minutes','65 minutes','80 minutes','20 minutes'])]

In [7]:
train_data.head()

,Restaurant,Location,Cuisines,Average_Cost,Minimum_Order,Rating,Votes,Reviews,Delivery_Time
0,ID_6321,"FTI College, Law College Road, Pune","Fast Food, Rolls, Burger, Salad, Wraps",₹200,₹50,3.5,12,4,30 minutes
1,ID_2882,"Sector 3, Marathalli","Ice Cream, Desserts",₹100,₹50,3.5,11,4,30 minutes
2,ID_1595,Mumbai Central,"Italian, Street Food, Fast Food",₹150,₹50,3.6,99,30,65 minutes
3,ID_5929,"Sector 1, Noida","Mughlai, North Indian, Chinese",₹250,₹99,3.7,176,95,30 minutes
4,ID_6123,"Rmz Centennial, I Gate, Whitefield","Cafe, Beverages",₹200,₹99,3.2,521,235,65 minutes

In [8]:
test_data.head()

,Restaurant,Location,Cuisines,Average_Cost,Minimum_Order,Rating,Votes,Reviews
0,ID_2842,"Mico Layout, Stage 2, BTM Layout,Bangalore","North Indian, Chinese, Assamese",₹350,₹50,4.2,361,225
1,ID_730,"Mico Layout, Stage 2, BTM Layout,Bangalore","Biryani, Kebab",₹100,₹50,NEW,-,-
2,ID_4620,"Sector 1, Noida",Fast Food,₹100,₹50,3.6,36,16
3,ID_5470,"Babarpur, New Delhi, Delhi","Mithai, North Indian, Chinese, Fast Food, Sout...",₹200,₹50,3.6,66,33
4,ID_3249,"Sector 1, Noida","Chinese, Fast Food",₹150,₹50,2.9,38,14

In [9]:
len(train_data.Location.unique())

35

In [10]:
len(test_data.Location.unique())

35

### Work around Cuisines features

In [11]:
restaurant_typ_list=train_data.Cuisines.apply(lambda x : x.split(',')).tolist()+test_data.Cuisines.apply(lambda x : x.split(',')).tolist()
restaurant_name_type = list(set([j.strip() for sub in restaurant_typ_list for j in sub]))
for t in restaurant_name_type:
    train_data[t]= train_data.Cuisines.apply(lambda x : 0 if t not in x else 1)
    test_data[t]= test_data.Cuisines.apply(lambda x : 0 if t not in x else 1)

# train_data['train_flag'] = 1
# test_data['train_flag'] = 0
# test_data['Delivery_Time'] = -1
# merge_train_test = pd.concat([train_data,test_data])

### Work around rating Features

In [12]:
rating_list=train_data.Rating.tolist()+test_data.Rating.tolist()
rating_name = list(set(rating_list))
for t in rating_name:
    train_data[t]= train_data.Rating.apply(lambda x : 0 if t not in x else 1)
    test_data[t]= test_data.Rating.apply(lambda x : 0 if t not in x else 1)

#train_data['train_flag'] = 1
#test_data['train_flag'] = 0
#test_data['Delivery_Time'] = -1
#merge_train_test = pd.concat([train_data,test_data])

In [13]:
rating_name

['2.2',
 '3.5',
 '2.5',
 '2.3',
 '3.9',
 '3.1',
 'NEW',
 '2.8',
 'Temporarily Closed',
 '3.3',
 '4.4',
 '4.1',
 '4.2',
 '3.2',
 'Opening Soon',
 '4.6',
 '2.7',
 '3.6',
 '4.8',
 '4.0',
 '-',
 '4.7',
 '4.5',
 '2.6',
 '4.9',
 '2.1',
 '3.7',
 '2.4',
 '3.8',
 '2.9',
 '3.4',
 '4.3',
 '3.0']

In [14]:
submission_data.head()

  Delivery_Time
0   120 minutes
1    20 minutes
2    20 minutes
3    65 minutes
4    45 minutes

In [15]:

# #Remove row which have 'for' in Average_Cost
# train_data = train_data[train_data.Average_Cost!='for']
# #Conver into int
# #train_data['Average_Cost'] = train_data['Average_Cost'].apply(lambda x : int(x.replace(',','').replace('₹','')))

# #test_data['Average_Cost'] = test_data['Average_Cost'].apply(lambda x : int(x.replace(',','').replace('₹','')))

# train_data['Minimum_Order'] = train_data['Minimum_Order'].apply(lambda x : int(x.replace(',','').replace('₹','')))

# test_data['Minimum_Order'] = test_data['Minimum_Order'].apply(lambda x : int(x.replace(',','').replace('₹','')))

In [16]:
#train_data['new_rating'] = train_data['Rating']
#train_data.groupby(['Delivery_Time','Rating']).agg({'new_rating':'count'}).reset_index().sort_values(by=['new_rating'],ascending=False)

In [17]:
train_data.Rating.unique()

array(['3.5', '3.6', '3.7', '3.2', '3.8', '4.0', '3.9', '4.2', '-', '2.8',
       '3.0', '3.3', '3.1', '4.7', '3.4', '4.1', 'NEW', '2.9', '4.6',
       '4.3', '2.6', '4.5', '4.4', '4.8', '2.4', '2.7', '2.5',
       'Opening Soon', '2.2', '4.9', '2.3', '2.1', 'Temporarily Closed'],
      dtype=object)

In [18]:
def data_fill(df):
    #Remove row which have 'for' in Average_Cost
    df = df[df.Average_Cost!='for']
    #Conver into int
    
    df['Average_Cost'] = df['Average_Cost'].apply(lambda x : int(x.replace(',','').replace('₹','')))
    df['Minimum_Order'] = df['Minimum_Order'].apply(lambda x : int(x.replace(',','').replace('₹','')))
    
    df['log_avg_cost'] = np.log(df['Average_Cost'])
    df['log_min_order'] = np.log(df['Minimum_Order'])
    
    df['Rating_Bins'] = df['Rating'].apply(lambda x : x if x in ['Opening Soon','NEW','-','Temporarily Closed']
                                                      else 'Rating_<=1.5' if float(x)<=1.5
                                                      else 'Rating_1.5-2.0' if float(x)>1.5 and float(x)<=2.0 
                                                      else 'Rating_2.0-2.5' if float(x)>2.0 and float(x)<=2.5
                                                      else 'Rating_2.5-3.0' if float(x)>2.5 and float(x)<=3.0
                                                      else 'Rating_3.0-3.5' if float(x)>3.0 and float(x)<=3.5
                                                      else 'Rating_3.5-4.0' if float(x)>3.5 and float(x)<=4.0
                                                      else 'Rating_>4.0' if float(x)>4.0 else x)
    df['new_rating'] = df['Rating'].apply(lambda x : -1 if x in ['Opening Soon','NEW','-','Temporarily Closed']
                                                      else float(x))
    
    
    df.loc[df.Votes=='-','Votes'] = -1
    df.loc[df.Reviews=='-','Reviews']=-1
    
    df['Votes'] = df.Votes.astype('int')
    df['Reviews'] = df.Reviews.astype('int')
    
    df['TOT_Rating_By_Votes']=df['Rating'].apply(lambda x : -1 if x in ['Opening Soon','NEW','-','Temporarily Closed'] else float(x))
    df['TOT_Rating_By_Votes'] = np.where(df['TOT_Rating_By_Votes']==-1,-1,df['TOT_Rating_By_Votes']*df['Votes'])
    
    df['TOT_Rating_By_Review']=df['Rating'].apply(lambda x : -1 if x in ['Opening Soon','NEW','-','Temporarily Closed'] else float(x))
    df['TOT_Rating_By_Review'] = np.where(df['TOT_Rating_By_Review']==-1,-1,df['TOT_Rating_By_Review']*df['Reviews'])
    
    df['TOT_Rating_By_Vote_Review']=df['Rating'].apply(lambda x : -1 if x in ['Opening Soon','NEW','-','Temporarily Closed'] else float(x))
    df['TOT_Rating_By_Vote_Review'] = np.where(df['TOT_Rating_By_Vote_Review']==-1,-1,df['TOT_Rating_By_Vote_Review']*(df['Reviews']+df['Votes']))

    df['NUMBER_OF_Cuisines'] = df['Cuisines'].apply(lambda x : len(x.split(',')))
    
    df['AVG_TOT_COST'] = df['Average_Cost']*df['Votes']
    df['AVG_TOT_COST'] = df['AVG_TOT_COST'].apply(lambda x : -1 if x<0 else x)
    df['AVG_TOT_MIN_ORDER'] = df['Minimum_Order']*df['Votes']
    df['AVG_TOT_MIN_ORDER'] = df['AVG_TOT_MIN_ORDER'].apply(lambda x : -1 if x<0 else x)
    
    df = pd.get_dummies(df,columns=['Rating_Bins'])
    df = pd.get_dummies(df,columns=['Location'])
    return df

In [19]:
train_data_pre = data_fill(train_data)
test_data_pre = data_fill(test_data)

In [20]:
train_data_pre.Delivery_Time.value_counts()

# 30 minutes     2119
# 45 minutes      635
# 120 minutes      10
# 65 minutes        9
# 80 minutes        1

30 minutes     7405
45 minutes     2665
65 minutes      923
120 minutes      62
20 minutes       20
80 minutes       14
Name: Delivery_Time, dtype: int64

In [21]:
#train_data_pre = train_data_pre[~(train_data_pre.Delivery_Time.isin(['10 minutes','80 minutes','20 minutes','120 minutes']))]

In [22]:
train_data_pre.Delivery_Time.value_counts()
# 30 minutes     2119
# 45 minutes      635
# 120 minutes      10
# 65 minutes        9
# 80 minutes        1

30 minutes     7405
45 minutes     2665
65 minutes      923
120 minutes      62
20 minutes       20
80 minutes       14
Name: Delivery_Time, dtype: int64

In [23]:
drop_col = ['Restaurant','Cuisines','Average_Cost','Minimum_Order','Rating','Delivery_Time','Rating_Bins_Temporarily Closed']
target_col =['Delivery_Time']
X,y = train_data_pre.drop(columns=drop_col,axis=1),train_data_pre['Delivery_Time']

from sklearn.utils import class_weight
class_weights = list(class_weight.compute_class_weight('balanced',
                                             np.unique(y),
                                             y))

y_dic={}
for w,c_y in zip(class_weights,np.unique(y)):
    y_dic[c_y]=w
w_array = np.ones(y.shape[0], dtype = 'float')
for i, val in enumerate(y):
    w_array[i] = y_dic[val]

In [24]:
# 30 minutes     7405
# 45 minutes     2665
# 65 minutes      923
# 120 minutes      62
# 80 minutes       14
label_dic = {'30 minutes':1,'45 minutes':2,'120 minutes':3,'65 minutes':4,'80 minutes':0,'20 minutes':5}
label_dic_rev = {1:'30 minutes',2:'45 minutes',3:'120 minutes',4:'65 minutes',0:'80 minutes',5:'20 minutes'}
new_y = y.apply(lambda x :label_dic[x] )

In [ ]:
import lightgbm as lgb

print("Light Gradient Boosting Classifier: ")
lgbm_params =  {
    'task': 'train',
    'boosting_type': 'gbdt',
    'objective': 'multiclass',
    'num_class': 7,
    'metric': ['multi_error'],
    "learning_rate": 0.05,
     "num_leaves": 60,
     "max_depth": 9,
     "feature_fraction": 0.45,
     "bagging_fraction": 0.3,
     "reg_alpha": 0.15,
     "reg_lambda": 0.15,
#      "min_split_gain": 0,
      "min_child_weight": 0
                }

lgb_cv = lgb.cv(
    params = lgbm_params,
    train_set = lgtrain,
    num_boost_round=2000,
    stratified=True,
    nfold = 5,
    verbose_eval=50,
    seed = 23,
    early_stopping_rounds=75)

loss = lgbm_params["metric"][0]
optimal_rounds = np.argmin(lgb_cv[str(loss) + '-mean'])
best_cv_score = min(lgb_cv[str(loss) + '-mean'])

print("\nOptimal Round: {}\nOptimal Score: {} + {}".format(
    optimal_rounds,best_cv_score,lgb_cv[str(loss) + '-stdv'][optimal_rounds]))

results = results.append({"Rounds": optimal_rounds,
                          "Score": best_cv_score,
                          "STDV": lgb_cv[str(loss) + '-stdv'][optimal_rounds],
                          "LB": None,
                          "Parameters": lgbm_params}, ignore_index=True)
if Home is True:
    with open('results.csv', 'a') as f:
        results.to_csv(f, header=False)